// Bootstrap Customize
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
$font-family-sans-serif:'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

.nav-link {
    color: #555252 !important;

    &:hover {
        color: #BB75FD !important;
    }
}

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


//Custom Code
body {
    background: #f6f6f6;
}

.li-bar {
    height: 12px;
    width: 1px;
    background-color: #737373;
}

.nav-icon {
    font-size: 1.1rem;
}

.custom-dropdown {
    position: relative;

    &:hover ul {
        transform: scaleY(1);
    }

    ul {
        position: absolute;
        width: 95px;
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.5s ease 0s;
        background-color: #fff;
        box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
        padding: 15px;
        line-height: .8;
        z-index: 100;

        li {
            font-size: 13px;
        }
    }

}

.custom-dropdown2 {
    position: relative;
    box-sizing: border-box;

    &:hover div {
        transform: scaleY(1);
    }

    div {
        position: absolute;
        width: 700px;
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.5s ease 0s;
        background-color: #fff;
        box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
        padding: 25px;
        line-height: 1;
        z-index: 100;

        ul {
            margin-right: 55px;

            li {
                font-size: 13px;

                .nav-link-title {
                    color: rgb(0, 0, 0) !important;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 10px;

                    &:hover {
                        color: #BB75FD !important;
                        transform: translateX(0px);
                    }
                }

                a {
                    transition: all 0.5s ease 0s;

                    &:hover {
                        transform: translateX(15px);


                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    opacity: 0;
                    background-color: #BB75FD;
                    width: 8px;
                    height: 8px;
                    transform: translateY(10px);
                    border-radius: 50%;
                    transition: all 0.3s ease 0s;
                }

                &:hover:before {
                    opacity: 1;
                }
            }

            .nav-link-title-h {

                &:before {
                    display: none !important;

                }

            }
        }
    }




}

.custom-dropdown4,
.custom-dropdown5 {
    div {
        width: 245px;
    }
}


.carousel {
    .carousel-inner {
        .carousel-item {
            // width: 500px;
            height: 500px;
            display: flex;
            // background-color: palevioletred;

            .carousel-image {
                display: flex;
                justify-content: end;

                img {
                    animation: animate-text 2.4s;
                }
            }

            .carousel-image-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .carousel-text {
                    width: 32%;

                    h3 {
                        animation: animate-text .8s;
                    }

                    h1 {
                        font-size: 72px;
                        font-weight: 400;
                        margin-top: 20px;
                        animation: animate-text 1.6s;
                    }

                    button {
                        text-transform: uppercase;
                        border-radius: 0px;
                        border: 1px solid black;
                        padding: 0.7rem 2.3rem;
                        transition: all 0.3s ease 0s;
                        margin-top: 20px;
                        animation: animate-text 1.9s;

                        &:hover {
                            border: 1px solid #BB75FD;
                            background-color: #BB75FD;
                            color: #fff;

                        }
                    }

                }

                .carousel-text2 {
                    width: 50%;
                }
            }
        }
    }

    &:hover .carousel-control-prev-icon {
        opacity: 1;
    }

    &:hover .carousel-control-next-icon {
        opacity: 1;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100);
        opacity: 0;
        transition: all 0.3s ease 0s;
    }

    .carousel-control-prev {
        left: -15rem;
    }

    .carousel-control-next {
        right: -15rem;
    }



}




@keyframes animate-text {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.single-banner {
    border-radius: 2px;
    border: 4px solid #fff;
    overflow: hidden;

    a {
        img {
            width: 100%;
            position: relative;
            transition: all 0.5s ease 0s;

            &:hover {
                transform: scale(1.13);
            }
        }
    }

    .banner-content {
        position: absolute;
        position: absolute;
        transform: translate(30px, -190px);


        h3,
        h4,
        span {
            font-family: 'Cormorant Garamond',
                serif;
        }

        h3 {
            color: #617d05;
            font-size: 36px;
            font-weight: 600;
            margin-top: 15px;

        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin-top: -7px;
        }

        span {
            color: #617d05;
            font-size: 20px;
        }

        a {
            color: #617d05;
            width: 30px;
            height: 30px;
            border: 2px solid;
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-top: 50px;
            transition: all 0.5s ease 0s;

            &:hover {
                color: #aabb72;
            }

        }
    }
}

.deals-section {
    margin-top: 90px;
    margin-bottom: 40px;

    h2 {
        font-size: 30px;
        font-weight: 600;
        display: inline-block;
        margin: 0;
        line-height: 36px;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            background-color: #000;
            height: 2px;
            width: 80px;
            top: 17px;

        }

        &:before {
            left: -100px;
        }

        &:after {
            right: -100px;
        }
    }
}

.tab-list {
    justify-content: center;

    .nav-item {
        a {
            .active {
                color: #000;
            }

            h4 {
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                transition: all 0.5s ease 0s;

                &:hover {
                    color: #000;
                }
            }
        }

        h4 {
            color: #555;
        }
    }
}

.image-card-wrapper {



    .single-image-card {
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;

        &:hover .hover-image,
        &:hover .same-hover-action {
            opacity: 1 !important;
            // visibility: visible;
            transform: translateY(0px) !important;

        }





        .card-image-section {
            position: relative;
            overflow: hidden;




            //     {
            //     transform: translateY(0px) !important;
            //     opacity: 1 !important;

            // }

            img {
                width: 100%;

            }

            .active-image {
                overflow: hidden;
            }

            .hover-image {
                position: absolute;
                left: 0;
                top: 0px;
                transform: translateY(40px);
                // visibility: hidden;
                opacity: 0;
                transition: all .5s ease 0s;

            }

            .hover-content {
                display: flex;
                width: 100%;
                position: absolute;
                bottom: 0px;

                .same-hover-action {
                    transform: translateY(30px);
                    // opacity: 0;
                    transition: all 0.5s ease 0s;
                    opacity: 0;


                    button {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        background-color: #A749FF;
                        border-radius: 0px;
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 10px;
                    }

                    .btn2 {
                        border-left: .5px solid #ddd !important;
                        border-right: .5px solid #ddd !important;
                    }

                    .btn1,
                    .btn3 {
                        padding: 10px 16px !important;
                    }
                }

                .hover-heart {
                    transition-delay: .1s;
                    // transition: .7s;
                }

                .hover-wishlist {
                    width: inherit;
                    // transition: .9s;
                    transition-delay: .2s;

                }

                .hover-view {
                    // transition: 1.1s;
                    transition-delay: .3s;
                }
            }

            .card-badge {
                width: 52px;
                position: absolute;
                top: 12px;
                right: 12px;

                span {
                    font-size: 13px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 3px;
                    display: block;
                    text-align: center;
                    padding: 0px 7px;


                }

                .pink {
                    background-color: #FA6BFF;
                    margin-bottom: 7px;
                }

                .purple {
                    background-color: #A749FF;
                }
            }
        }

        .card-details {
            h4 {
                margin-top: 25px;
                text-align: center;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    transition: all 0.5s ease 0s;
                    color: #000;

                    &:hover {
                        color: #A749FF;
                    }
                }
            }

            .card-rating {
                text-align: center;
                margin-bottom: 3px;

                i {
                    font-size: 15px;
                }

                .yellow {
                    color: #ffa900;
                }

                .gray {
                    color: #5a5a5a;
                }
            }
        }

        .card-pricing {
            text-align: center;

            span {
                font-size: 15px;
                font-weight: 400;
            }

            .now,
            .hyphen {
                color: #000;
            }

            .before {
                color: #8e8e8e !important;
                text-decoration: line-through;
            }
        }
    }
}

.support-card {
    padding: 30px;
    margin-bottom: 50px;

    .animation {
        margin-bottom: 10px;
        animation-duration: .5s;



    }

    &:hover .animation {
        animation-fill-mode: both;
        animation-name: support-animation;
    }

    .title {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #494949;
    }

    .detail {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #6a6a6a;

    }

    @keyframes support-animation {
        0% {
            transform: rotate(0deg) scale(1);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
            transform: rotate(3deg) scale(1.15);
        }

        20%,
        40%,
        60%,
        80% {
            transform: rotate(-3deg) scale(1.18);
        }

        100% {
            transform: rotate(0deg) scale(1);

        }


    }
}